
.grid {
    position: absolute;
    height: 300px;
    width: 560px;
    border: solid black 1px
}

.brick {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: blue;
}

.player {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rgb(70, 27, 110);
    bottom: 3px
}

.ball {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 7px;
    background-color: red;
}

